/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* BASE STYLES */

html {
  font-size: 16px;
}

body {
    color: #313131;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1em;
    text-align: left;
}

.content-wrapper {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 0 auto;
  width: 90%;
}

h1 {
  font-family: 'Cardo', serif;
  font-size: 3em;
  line-height: 1;
  margin: 5px 0;
}

h2 {
  font-size: 1.5em;
  font-weight: lighter;
  line-height: 1;
  margin-bottom: 0;
  text-align: center;
}

h3 {
  color: #ff654a;
  font-size: 1.5em;
}

h4 {
  font-family: 'Cardo', serif;
  font-size: 3em;
  text-align: center;
  width: 100%;
}

h5 {
  font-weight: bold;
}

h6 {
  font-size: 1.2em;
  font-weight: lighter;
}

img {
  width: 100%;
}

figure {
  margin: 0;
}

p {
  font-weight: lighter;
}

/* GRID */

/***** BODY *****/
s
/***** HEADER *****/

header, #portfolio, .subpage-header, #services {
  background-color: #ffffff;
}

.header-content {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 0 25px;
}

header nav {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

header nav ul {
  line-height: 2;
  list-style-type: none;
  margin-left: 0;
  padding: 0;
  text-align: center;
  width: 100%;
}

nav ul li { 
  font-size: 1.5em;
  text-transform: uppercase;
}

nav ul li a {
  color: #313131;
  text-decoration: none;
}

.orange-text {
  color: #ff654a;
  margin-left: 40px;
}

/***** ABOUT *****/

#about {
  background: #ff654a;
  color: #ffffff;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

#about figure {
  border: 5px solid #ffffff;
}

#about .about-content, #services .services-content, #case-study .case-study-content {
  text-align: center;
  margin-bottom: 100px;
}

#about h5, #case-study h5 {
  font-size: 1.7em;
  line-height: 1.5;
}

#about p, #case-study p {
  font-size: 1.5em;
}

/***** PORTFOLIO *****/

#portfolio figure img, #case-study figure img {
  border: 2px solid #b7b7b7;
}

#portfolio a {
  text-decoration: none;
}

#portfolio h5 {
  font-size: 1.5em;
  margin: 10px 0 0 0;
}

#portfolio p {
  font-size: 1.3em;
  margin: 10px 0 30px 0;
}

/***** FOOTER / CONTACT *****/

footer {
  background-color: #ff654a;
  color: #ffffff;
}

footer a {
  color: #ffffff;
  text-decoration: none;
}

footer h5 {
  font-size: 1.667em;
  margin: 0;
}

.hire, .social {
  margin-bottom: 75px;
}

.hire p {
  font-size: 1.5em;
}

footer .social-icons {
  align-items: center;
  display: flex;
  justify-content: space-around;
}

footer .social-icons p {
  align-items: center;
  background: #ffffff;
  border: #ffffff solid;
  border-radius: 50%;
  display: flex;
  height: 40px;
  justify-content: center;
  width: 40px;
}

.social-icons p i {
  color: #ff654a;
  font-size: 1.3125em;
}

footer .footer-content {
  align-items: flex-start;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  text-align: center;
  width: 100%;
}

/***** SUB PAGES *****/

/***** HEADER *****/

.subpage-header-content {
  width: 100%;
}

.subpage-header-h1 {
  color: #ff654a;
  font-size: 5em;
  text-align: center;
}

/***** SERVICES PAGE ******/

.services-content i {
  color: #ff654a;
  font-size: 5em;
}

#services h5, #services p {
  font-size: 1.667em;
}

/****** RESUME PAGE ******/

#resume a {
  text-decoration: none;
  color: #313131;
  font-size: 1.2em;
}

#resume p {
  color: #313131;
  font-size: 1em;
}

#resume h1 {
  color: #ff654a;
  font-size: 2.3em;
}

#resume h2 {
  color: #313131;
  font-size: 2.61em;
  margin: 0;
  padding: 0;
}

#resume h3 {
  color: #ff654a;
  font-family: 'Cardo', serif;
  font-size: 1.19em;
  text-transform: uppercase;
}

#resume h4 {
  margin: 0;
  line-height: 1;
  text-align: center;
}

.h3-container {
  text-align: center;
  width: 100%;
}

.organization-name-container {
  margin-bottom: 20px;
  width: 100%;
}

.italic-h4 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.25em;
  font-style: italic;
  font-weight: lighter;
}

.bold-h4 {
  font-family: 'Cardo', serif;
  font-size: 1.1em;
  font-weight: bold;
}

#resume h5 {
  font-family: 'Cardo', serif;
  font-size: 1.5em;
  margin: 30px 0;
}

.name-container, .career-title-container {
  margin: 0;
  padding: 0;
  text-align: center;
  width: 100%;
}

#resume .content-wrapper {
  align-items: flex-start;
  justify-content: center;
  padding-bottom: 50px;
}

.resume-header {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 25px 0 50px 0;
  width: 95%;
}

.resume-body {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 95%;
}

.job-1, .job-2, .job-3, .job-4, .job-5 {
  padding: 20px 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
}

.job-title-container {
  text-align: center;
  width: 100%;
}

.p-container {
  text-align: center;
  width: 100%;
}

.job-description {
  padding: 0;
}

#resume ol {
  list-style-type: circle;
  margin: 0;
}

#resume li {
  font-size: 1em;
  font-style: 'Josefin Sans', sans-serif;
  font-weight: lighter;
  margin-bottom: 15px;
}

.resume-sidebar {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 95%;
}

.italic-text {
  font-style: italic;
  margin: 0;
}

.bold-text {
  font-weight: normal;
  margin: 0;
}

.skills-content, .training-content, .community-content, .education-content {
  text-align: center;
}

.skills-content, .training-content, .community-content {
  margin-bottom: 25px;
}

.education-1 {
  margin-bottom: 25px;
}

/****** CASE STUDY PAGE ******/

#case-study figure img {
  max-width: 50%;
}

#case-study a {
  color: #ff654a;
  font-size: 2em;
  text-decoration: none;
}  



/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

/* TABLETS */

@media only screen and (min-width: 768px) {

  .content-wrapper {
    max-width: 691px;
  }

  /*HEADER*/

  header .header-content {
    justify-content: left;
  }

  header h1 {
    font-size: 4em;
  }

  header h2 {
    font-size: 3em;
  }

  header h2 {
    text-align: left;
  }

  nav ul li { 
    font-size: 2em;
  }

  /*PORTFOLIO*/

  #portfolio .portfolio-content, #work .portfolio-content {
    align-items: flex-start;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }

  #portfolio .project-1, #portfolio .project-2, #portfolio .project-3, 
  #portfolio .project-4, #portfolio .project-5, #portfolio .project-6 {
    width: 30%;
  }

  #portfolio h3 {
    font-size: 2em;
  }

  /* FOOTER */

  footer .footer-content {
    justify-content: space-between;
  }

  footer .hire, footer .social {
    width: 45%;
  }

  footer h6 {
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;
    }

  /* SUBPAGES */

  .subpage-header-h1 {
    font-size: 12em;
  }

  /* RESUME PAGE */

  #resume a {
    font-size: 1.75em;
  }
  
  #resume p {
    font-size: 1.5em;
  }
  
  #resume h1 {
    font-size: 5em;
  }
  
  #resume h2 {
    font-size: 3.75em;
  }
  
  #resume h3 {
    font-size: 1.5em;
  }

  .italic-h4 {
    font-size: 1.75em;
  }
  
  .bold-h4 {
    font-size: 2em;
  }
  
  #resume h5 {
    font-size: 1.5em;
  }

  #resume li {
    font-size: 1.75em;
  }

  #resume .content-wrapper {
    padding: 75px 0 100px 0;
  }

  .resume-header {
    padding: 75px 0 75px 0;
  }

  .job-1, .job-2, .job-3, .job-4, .job-5 {
    padding-bottom: 50px;
  }

  .skills-content, .training-content, .community-content {
    margin-bottom: 50px;
  }
  
  .education-1 {
    margin-bottom: 75px;
  }

}

  /* DESKTOP */

@media only screen and (min-width: 1200px) {

  .content-wrapper {
    max-width: 1080px;
  }

    /* HEADER */

  header {
    min-height: 725px;
  }

  header .content-wrapper {
    align-items: flex-end;
    flex-flow: column-reverse;
  }

  header nav {
    padding-bottom: 75px;
    width: 80%;
  }

  header nav ul {
    display: flex;
    justify-content: space-between;
  }

  nav ul li { 
    font-size: 1.75em;
  }

  header h1 {
    font-size: 5em;
    width: 100%;
  }

  header h2 {
    font-size: 4em;
    width: 95%;
  }

  /* MAIN */

  #portfolio {
    min-height: 725px;
  }

  /* FOOTER */

  footer .hire, footer .social {
    width: 40%;
  }

  /* SUBPAGES */

  .subpage-header-h1 {
    font-size: 18em;
  }

  /* SERVICES PAGE */

  #services .content-wrapper {
    align-items: flex-start;
    flex-flow: row wrap;
    justify-content: space-between;
  }

  #services .services-content {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    text-align: left;
    width: 40%;
  }

  #services .services-content i {
    width: 25%;
  }

  #services .services-content h5 {
    width: 75%;
  }

    /* RESUME PAGE */
    
    #resume h4 {
      text-align: left;
    }
  
    .organization-name-container {
      margin-bottom: 0;
    }
  
    .h3-container {
      text-align: left;
    }
    
    #career-title-container {
      margin: 0;
      padding: 0;
    }
    
    #resume .content-wrapper {
      justify-content: flex-start;
    }
    
    .resume-header {
      justify-content: space-between;
    }

    .name-container {
      width: 58%;
    }
    
    .career-title-container {
      width: 39%;
    }
  
    .resume-body {
      justify-content: flex-start;
      width: 70%;
    }
    
    .job-title-container {
      text-align: left;
      width: 62%;
    }
    
    .p-container {
      margin-left: 50px;
      text-align: left;
      width: 30%;
    }
    
    .resume-sidebar {
      box-sizing: border-box;
      justify-content: flex-start;
      margin-left: 50px;
      width: 25%;
    }
  
    .skills-content, .training-content, .community-content, .education-content {
      text-align: left;
    }

    .job-1, .job-2, .job-3, .job-4, .job-5 {
      padding-bottom: 50px;
    }

}


@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

